<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E31BE471C493A6C00EAD45A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E31BE5E1C493A6D00EAD45A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E31BE691C493A6D00EAD45A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E76A1601C721CB200EEBEA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
